/* <img src="silhouette-of-four-people-against-sun-background-862848 (1).jpg" alt="" style="" width=1150px height=650px> */
#title {
  /* background-color: #ff4c68; */
  background-image: url("https://cleantechnica.com/files/2022/10/approaching-storm.jpg");
  color: white;
  background-repeat: no-repeat;
  margin-left: 12%;
  width: 1200px;
  background-size: cover;
  /* width: 100vw; */
  height: 650px;
}

h1 {
  font-family: Montserrat-Black;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}
.our-team {
  height: 500px;
  margin-top: 50px;
}

.our-team-maincontainer {
  width: 100%;
  margin: 0 auto;
  display: flex;
}

#our-team-header {
  text-align: center;
  font-size: 70px;
  margin-bottom: 10px;
  color: black;
  font-family: Montserrat-Black;
}
.our-team-subcontainer {
  display: flex;
  width: 70%;
}

.our-team-box {
  width: 70%;
  height: 350px;
  margin: 1%;
  text-align: center;
}

.our-team-box img {
  width: 300px;
  height: 300px;
  border-radius: 5%;
  margin-top: 15px;
  margin-bottom: 25px;
  box-shadow: 2px 2px 8px 1px rgb(99, 97, 97);
}

.our-team-box h3 {
  color: black;
  font-family: montserrat-Black;
}

.container-fluid {
  padding: 3% 5%;
}

.navbar-brand {
  font-family: "ubuntu";
  font-size: 2.3rem;
  /* font-size: 2rem; */
  font-weight: bold;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

.nav-item {
  padding: 0 18px;
}

.btn-download {
  margin: 5% 3% 5% 0;
}

.maincontainer {
  background-image: url("https://cleantechnica.com/files/2022/10/approaching-storm.jpg");
  width: 1150px;
  height: 650px;
  margin-left: 13%;
  background-size: cover;
}

footer {
  background-color: #333;
  overflow: hidden;
}

footer a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 14px 20px;
  float: left;
}

.container .box {
  color: #929796;
  background: #333;
  padding: 20px;
  display: grid;
  font-size: 20px;
  place-items: center;
  text-align: center;
  color: #fff;
  transition: 0.5s;
}
.container .box img {
  position: relative;
  max-width: 200px;
  margin-bottom: 10px;
  max-height: 200px;
}
.container .box:hover {
  background: #62a6dd;
}
.container .box p {
  font-size: medium;
  text-align: center;
  font-weight: bold;
}
.container .box:nth-child(1) {
  grid-column: span 2;
  grid-row: span 1;
}
.container .box:nth-child(2) {
  grid-column: span 1;
  grid-row: span 2;
}
.container .box:nth-child(3) {
  grid-column: span 2;
  grid-row: span 1;
}
.container .box:nth-child(4) {
  grid-column: span 1;
  grid-row: span 2;
}
.container .box:nth-child(5) {
  grid-column: span 2;
  grid-row: span 1;
}
.container .box:nth-child(6) {
  grid-column: span 2;
  grid-row: span 2;
}
.container .box:nth-child(7) {
  grid-column: span 2;
  grid-row: span 1;
}

@media (max-width: 991px) {
  .container {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    grid-template-rows: minmax(auto, auto);
  }
  .container .box {
    grid-column: unset !important ;
    grid-row: unset !important;
  }
}
