<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Landing Page</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <h1>Landing Page</h1>
    <div name="airvisual_widget" key="6353830287bcb4e85a12a640"></div>
    <script
      type="text/javascript"
      src="https://widget.iqair.com/script/widget_v3.0.js"
    ></script>

    <!-- next........................................  -->
    <script src="https://apps.elfsight.com/p/platform.js" defer></script>
    <div class="elfsight-app-59357542-d98b-48e7-ab2e-71e4f08b13e4"></div>

    <!-- next.................................................  -->

    <div
      id="ww_aef1cf40844dd"
      v="1.3"
      loc="id"
      a='{"t":"horizontal","lang":"en","ids":[],"font":"Arial","sl_ics":"one_a","sl_sot":"celsius","cl_bkg":"image","cl_font":"#FFFFFF","cl_cloud":"#FFFFFF","cl_persp":"#81D4FA","cl_sun":"#FFC107","cl_moon":"#FFC107","cl_thund":"#FF5722"}'
    >
      Weather Data Source:
      <a
        href="https://wetterlang.de/paris_wetter_30_tage/"
        id="ww_aef1cf40844dd_u"
        target="_blank"
        >wetterlang.de/paris_wetter_30_tage/</a
      >
    </div>
    <script
      async
      src="https://app1.weatherwidget.org/js/?id=ww_aef1cf40844dd"
    ></script>

    <!-- <script>
      (function (d, s, id) {
        if (d.getElementById(id)) {
          if (window.__TOMORROW__) {
            window.__TOMORROW__.renderWidget();
          }
          return;
        }
        const fjs = d.getElementsByTagName(s)[0];
        const js = d.createElement(s);
        js.id = id;
        js.src = "https://www.tomorrow.io/v1/widget/sdk/sdk.bundle.min.js";

        fjs.parentNode.insertBefore(js, fjs);
      })(document, "script", "tomorrow-sdk");
    </script> -->

    <!-- next.......................................  -->

    <!-- <div
      class="tomorrow"
      data-location-id="133210,131679,131679,131679,131679,131679"
      data-language="EN"
      data-unit-system="METRIC"
      data-skin="light"
      data-widget-type="fire"
      style="padding-bottom: 22px; position: relative"
    >
      <a
        href="https://www.tomorrow.io/weather/"
        rel="nofollow noopener noreferrer"
        target="_blank"
        style="
          position: absolute;
          bottom: 0;
          transform: translateX(-50%);
          left: 50%;
        "
      >
        <img
          alt="Powered by Tomorrow.io"
          src="https://weather-website-client.tomorrow.io/img/powered-by-tomorrow.svg"
          width="140"
          height="15"
        />
      </a>
    </div> -->

    <!-- <script src="https://apps.elfsight.com/p/platform.js" defer></script>
    <div class="elfsight-app-59357542-d98b-48e7-ab2e-71e4f08b13e4"></div> -->

    <script src="" async defer></script>
  </body>
</html>
